body {
  margin: 0 auto;
  background-image: linear-gradient(to right, #d8d5ca, #fffdf5);
  color: #111
}


.rows img {
  max-width: 100%;
  height: auto;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none !important;
  color: #111;
}
